<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">House</h5>
                    <p>
                        <strong>ID</strong>: {{house.id}}
                    </p>
                    <p></p>


                    <p>
                        <strong>owner</strong>: {{house.host_name}}
                    </p>

                    <p>
                        <strong>place</strong>: {{house.place_name}}
                    </p>
                    <p>
                        <a class="waves-effect waves-light btn-small">
                            <i class="material-icons left">edit</i>EDIT</a>
                        <a class="waves-effect waves-light btn-small">
                            <i class="material-icons left">delete_forever</i>DELETE</a>
                    </p>
                    <p>
                        {{!--
                        <img src="{{house.place_photo}}" alt="somehouse" style="width:300px; height:300px;"> --}}
                    </p>
                    <p>
                        <strong>address</strong>: {{house.host_address}}
                    </p>
                    <p>
                        <a class="waves-effect waves-light btn-small">
                            <i class="material-icons left">edit</i>EDIT</a>
                        <a class="waves-effect waves-light btn-small">
                            <i class="material-icons left">delete_forever</i>DELETE</a>
                    </p>

                    <p>
                        <strong>phone</strong>: {{house.host_phone}}
                    </p>
                    <p>
                        <a class="waves-effect waves-light btn-small">
                            <i class="material-icons left">edit</i>EDIT</a>
                        <a class="waves-effect waves-light btn-small">
                            <i class="material-icons left">delete_forever</i>DELETE</a>
                    </p>

                    <p>
                        <strong>email</strong>: {{house.host_email}}
                    </p>
                    <p>
                        <a class="waves-effect waves-light btn-small">
                            <i class="material-icons left">edit</i>EDIT</a>
                        <a class="waves-effect waves-light btn-small">
                            <i class="material-icons left">delete_forever</i>DELETE</a>
                    </p>

                    <p>
                        <strong>wifi network</strong>: {{house.wifi_network}}
                    </p>
                    <p>
                        <a class="waves-effect waves-light btn-small">
                            <i class="material-icons left">edit</i>EDIT</a>
                        <a class="waves-effect waves-light btn-small">
                            <i class="material-icons left">delete_forever</i>DELETE</a>
                    </p>

                    <p>
                        <strong>Wifi Password</strong>: {{house.wifi_password}}
                    </p>
                    <p>
                        <a class="waves-effect waves-light btn-small">
                            <i class="material-icons left">edit</i>EDIT</a>
                        <a class="waves-effect waves-light btn-small">
                            <i class="material-icons left">delete_forever</i>DELETE</a>
                    </p>

                    <p>
                        <strong>alarm key</strong>: {{house.house_alarm_pw}}
                    </p>
                    <p>
                        <a class="waves-effect waves-light btn-small">
                            <i class="material-icons left">edit</i>EDIT</a>
                        <a class="waves-effect waves-light btn-small">
                            <i class="material-icons left">delete_forever</i>DELETE</a>
                    </p>
                    <p>

                        <strong>Description:</strong> {{house.house_info}}
                    </p>
                    <p>
                        <a class="waves-effect waves-light btn-small">
                            <i class="material-icons left">edit</i>EDIT</a>
                        <a class="waves-effect waves-light btn-small">
                            <i class="material-icons left">delete_forever</i>DELETE</a>
                    </p>
                    <a href="/">← Back To Home</a>
                </div>
            </div>
        </div>
    </div>
</div>